body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  width: 300px;
  height: 300px;
  display: flex; /* box layout */
  align-items: center; /* box layout */
  border: 1px solid #625df6;
}

.item {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ec7974;
  color: #fff;
  font-size: 32px;
}

.item:first-child {
  align-self: flex-start; /* item layout */
}

.item:last-child {
  align-self: flex-end; /* item layout */
}
